[submodule "subprojects/bgfx.cmake"]
	path = subprojects/bgfx.cmake
	url = https://github.com/widberg/bgfx.cmake.git
[submodule "subprojects/lodepng"]
	path = subprojects/lodepng
	url = https://github.com/lvandeve/lodepng.git
