[submodule "subprojects/lodepng"]
	path = subprojects/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "subprojects/glm"]
	path = subprojects/glm
	url = https://github.com/g-truc/glm.git
[submodule "subprojects/physfs"]
	path = subprojects/physfs
	url = https://github.com/icculus/physfs.git
[submodule "subprojects/enet"]
	path = subprojects/enet
	url = https://github.com/lsalzman/enet.git
[submodule "subprojects/toml11"]
	path = subprojects/toml11
	url = https://github.com/ToruNiina/toml11.git
